<section class="container">


  <!-- Banner -->
  <section class="banner">
    <img src="../assets/hero.png">
  </section>

  <!-- Vendas Pizzas -->
  <section class="vendidas">


    <!-- Lista das pizzas -->
    <section class="pizzas">
      <div class="list-sales">
        <img src="../assets/bg.png">
        <h2>Mais Vendidas</h2>

        <div class="card">
          <img src="../assets/pizza.png">
          <h3>La Cuma</h3>
          <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
          </p>
          <span>R$29,90</span>
          <button type="button">COMPRAR AGORA</button>
        </div>

        <div class="card">
          <img src="../assets/pizza.png">
          <h3>La Cuma</h3>
          <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
          </p>
          <span>R$29,90</span>
          <button type="button">COMPRAR AGORA</button>
        </div>
      </div>
    </section>
  </section>

</section>