<section class="container">


  <!-- Banner -->
  <section class="banner">
    <img src="../assets/hero.png">
  </section>

  <!-- Vendas Pizzas -->
  <section class="vendidas">
    <section>
      <h2>Mais Vendidas</h2>
    </section>


    <!-- Lista das pizzas -->
    <section class="pizzas">
      <div class="list-sales">
        <div class="card" *ngFor="let item of pizzas">
          <div class="align-icon">
            <img src="{{item.image}}" alt="Pizza">
            <img src="../assets/icon-favorite.png" alt="favoritar" class="favorite">
          </div>
          <h3 class="title">{{item.title}}</h3>
          <p class="content">
            {{item.content}}
          </p>
          <span class="price">{{item.price | currency : 'R$'}}</span>
          <button type="button">COMPRAR AGORA</button>
        </div>
      </div>
    </section>
  </section>

  <!-- Sobre -->
  <section class="about">
    <div class="img-about">
      <img src="../assets/about.png"/>
    </div>
    <div class="img-about">
    <h2>Sobre a La 
        P<span class="letterI">i</span>
        <span class="letterZ">z</span>
        <span class="letterZZ">z</span>a
    </h2>
      <p>
        Bem vindo ao "La Pizza", o seu refúgio acolhedor para uma experiência de pizzaria autêntica.
        Em nosso pequeno oásis italiano, cada pedaço de pizza é uma obra-prima artesanal.
        Sinta-se em casa enquanto o aroma sedutor de massa fresca assa no forno, criando
        as pizzas mais deliciosas da cidade.
      </p>
      <button type="button" class="btn-about">LER MAIS SOBRE</button>
    </div>
  </section>
</section>