<section class="container">


  <!-- Banner -->
  <section class="banner">
    <img src="../assets/hero.png">
  </section>

  <!-- Vendas Pizzas -->
  <section class="vendidas">
    <section>
      <h2>Mais Vendidas</h2>
    </section>


    <!-- Lista das pizzas -->
    <section class="pizzas">
      <div class="list-sales">
        <div class="card" *ngFor="let item of pizzas">
          <img src="{{item.image}}">
          <h3 class="title">{{item.title}}</h3>
          <p class="content">
            {{item.content}}
          </p>
          <span class="price">{{item.price | currency : 'R$'}}</span>
          <button type="button">COMPRAR AGORA</button>
        </div>
      </div>
    </section>
  </section>

</section>